body {
  font-family: 'Raleway', sans-serif;
  font-size: 19px;
  line-height: 1.6em;
  color: #777777;
  background-color: #E8E8E8;
}

h2, h3 {
  color: #484848;
}

h1 {
  color: #FF5A5F;
}

p {
  font-weight: 200;
}

a, a:active, a:visited {
  text-decoration: none;
  color: #292929;
}

a:hover {
  color: #FF5A5F;
}

.container {
  max-width: 90%;
  margin: 30px auto;
}

.card {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 3px;
  box-shadow: 0 1px 3px 0 #ADADAD;
}

.text-center {
  text-align: center;
}

.img-circle {
  border-radius: 50%;
}

#img-profile {
    border: 2px solid #ccc;
}

.list-inline {
  padding-left: 0px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.btn-red {
    background-color: #FF5A5F;
    color: white !important;
    font-weight: 200 !important;
    padding: 10px;
    border-radius: 3px;
}

.btn-red:hover, .btn-red:active {
  background-color: #FF8589;
}

#sidebar {
    background-color: #2D3142;
    position: fixed;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 120px;
    text-align: center;
}

#sidebar ul {
    list-style: none;
    padding-left: 0px;
}

#sidebar li {
    margin-top: 50px;
    margin-bottom: 50px;
}

#sidebar .fa {
  color: #4A516D;
}
#sidebar .fa:hover {
  color: #E7E8EE;
}

#page-content {
  margin-left: 120px;
}
