.button-primary {
  color: white;
  background: #FF474B;
  padding: 15px 35px;
  font-weight: lighter;
  border-radius: 50px;
  text-decoration: none;
  transition: background 0.3s ease;
}

.button-primary:hover {
  background: #FF6A6D;
  color: white;
}

.button-red {
  background: #FF474B;
  border-style: none;
}

.button-red:hover {
  background: #FF6A6D;
  border-style: none;
}
